@import '../css/uikit.min.css';
@import 'advice-list';
@import 'add-advice';
@import 'users-list';
@import 'partials';
@import 'profile';
@import 'header';
@import 'advice';
@import 'join';
@import 'sign';
@import 'test';


body {
   @extend %reset-space;
   font-size: $mainSize;
   font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
   max-width: 1200px;
   padding: 0 50px;
   margin: 0 auto;
}

a {
   &:hover {
      text-decoration: none;
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: inherit;
}

.delete-svg {
   background: none !important;
}